.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #f2f2f2;
  position: relative;
}

.experiencia .subtitulo::before {
  content: "Experiência";
  position: absolute;
  max-width: 5ch;
  top: 70px;
  color: #fafafa;
  z-index: -1;
}

.experiencia-texto {
  font-size: 1.3rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #525252;
  padding-top: 20px;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  gap: 10px 20px;
}

.empresa::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: linear-gradient(#272ed2, #00057d);
  position: absolute;
  border-radius: 4px;
  top: 22px;
  left: -5px;
}

.empresa-ano {
  position: absolute;
  top: 20px;
  left: -60px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-link {
  grid-area: 4;
  text-decoration: none;
  color: #525252;
  width: 50%;
}

.empresa-link::after {
  content: "";
  display: block;
  width: 24px;
  height: 6px;
  background: url("../img/seta-icon.svg") no-repeat center;
  position: absolute;
  bottom: 25px;
  left: 160px;
  transition: left 0.3s;
}
.empresa-link:hover {
  color: #000000;
}
.empresa-link:hover::after {
  left: 165px;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: default;
}

.empresa-habilidades li:hover {
  background-color: #f9f9f9;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia .subtitulo::before {
    display: none;
  }
  .experiencia-texto {
    font-size: 1.25rem;
    padding-top: initial;
  }

  .empresa-ano {
    position: initial;
    order: 1;
  }
}

@media (max-width: 500px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
